.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.title{
    position: relative;
}
.title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg,#c17127 0.36%, #c916fb 102%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

.left p{
    max-width: 550px;
    color: #c3b6c7;
    font-size: 20px;
    line-height: 35px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: whitesmoke;
    font-size: 22px;
}

.detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.right label{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 500;
}

.right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: white;
    font-family: Outfit;
    font-size: 20px;
}

.right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: white;
    font-family: Outfit;
    font-size: 20px;
}

.submit{
    border: none;
    color: white;
    border-radius: 50px;
    background:  linear-gradient(267deg,#c17127 0.36%, #c916fb 102%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}